<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Test 1">
        <parameter name="param" value="value"/>
        <classes>
            <class name="lessons.lessonTestNg.ParamTest"/>

        </classes>
<!--        <packages>-->
<!--            <package name="ua.hillel.tests.testng"/>   &lt;!&ndash;can`t find : tests.testng &ndash;&gt;-->
<!--        </packages>-->

    </test>
</suite>
